.wrapp-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container-home {
  width: 100%;
  max-width: 784px;
  padding: 30px 10px 30px 55px;
  color: #fff;
  background: rgba(11, 15, 50, 0.5);
  border-radius: 12px;
  box-shadow: rgb(20 20 20 / 12%) 0 0.25rem 0.375rem -0.0625rem,
    rgb(20 20 20 / 7%) 0 0.125rem 0.25rem -0.0625rem;
  backdrop-filter: blur(42px);
}

#btnSubmit {
  border: none;
  border-radius: 4px;
}
